

.light {
    background-color: #dff7f7 ;
    color: #222731;
    height: 100vh; 
    margin: 0;
    padding: 0;
  }
  
  .dark {
    background-color: #141d2f;
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem 0;
  }
  
  .title {
    font-size: 1.5rem;
  }
  
  
  .toggleButton {
    font-family: "Space Mono", monospace;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .shared-width {
    width: 100%;
    max-width: 600px; /* Ancho máximo compartido */
    margin: 0 auto;  /* Centramos los elementos */
    padding: 0 1rem; /* Espaciado lateral para pantallas más pequeñas */
  }
  
  /* Estilo adicional para pantallas pequeñas */
  @media (max-width: 768px) {
    .shared-width {
      max-width: 90%; /* Ajusta el ancho en pantallas pequeñas */
    }
  }